$muhal-white: hsla(240, 100%, 100%, 1);
$muhal-grey-light: hsla(240, 5%, 96%, 1);
$muhal-grey: hsla(33, 15%, 88%, 1); 
$muhal-purple: hsla(253, 24%, 27%, 1);
$muhal-blue: hsla(257, 26%, 27%, 1);
$muhal-orange: hsla(24, 92%, 68%, 1);
$muhal-pink: hsla(344, 45%, 47%, 1);


.muhal-white {
  color: $muhal-white;
}

.muhal-purple {
  color: $muhal-purple ;
}

.bg-muhal-purple  {
  background-color: $muhal-purple;
}

.muhal-grey {
  color: $muhal-grey;
}

.bg-muhal-grey {
  background-color: $muhal-grey;
}

.muhal-grey-light {
  color: $muhal-grey-light ;
}

.bg-muhal-grey-light {
  
  background-color: $muhal-grey-light;
}

.muhal-pink {
  color: $muhal-pink;
}

.bg-muhal-pink {
  background-color: $muhal-pink;
}

.muhal-blue {
  color: $muhal-blue;
}

.bg-muhal-blue {
  background-color: $muhal-blue;
}

.b--muhal-blue {
  border-color: $muhal-blue;
}

.muhal-orange {
  color: $muhal-orange;
}

.bg-muhal-orange {
  background-color: $muhal-orange;
}

.b--muhal-orange {
  border-color: $muhal-orange;
}

.markazi {
  font-family: "Markazi Text", serif;
}

.messiri {
  font-family: "El Messiri", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "El Messiri", sans-serif;
}

/* float start */
.fs {
  float: inline-start;
}

.p-start-0 {
  padding-block-start: 0;
}

.p-end-1 {
  padding-inline-end: 1rem;
}