.muhal-white {
  color: hsla(240, 100%, 100%, 1);
}

.muhal-purple {
  color: hsla(253, 24%, 27%, 1);
}

.bg-muhal-purple  {
  background-color: hsla(253, 24%, 27%, 1);
}

.muhal-grey {
  color: hsla(33, 15%, 88%, 1);
}

.bg-muhal-grey {
  background-color: hsla(33, 15%, 88%, 1);
}

.muhal-pink {
  color: hsla(344, 45%, 47%, 1);
}

.bg-muhal-pink {
  background-color: hsla(344, 45%, 47%, 1);
}

.muhal-blue {
  color: hsla(257, 26%, 27%, 1);
}

.bg-muhal-blue {
  background-color: hsla(257, 26%, 27%, 1);
}

.markazi {
  font-family: "Markazi Text", serif;
}

.messiri {
  font-family: "El Messiri", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "El Messiri", sans-serif;
}

/* float start */
.fs {
  float: inline-start;
}